@font-face {
  font-family: 'Droid Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Droid Sans'), local('DroidSans'), url(../fonts/DroidSans.woff) format('woff');
}

body {
  padding: 0 15px 15px 15px;
  font-family: 'Droid Sans', sans-serif;
}

div.row > div {
    /*border: solid 1px silver;*/
    height: 100px;
    line-height: 100px;
    text-align: center;
    margin:3px;
}

.dismiss-all{
    text-align: right;
}

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* use less or sass instead for vars @screen-sm-min: 768px; @screen-md-min  , @screen-lg-min

/* Small devices (tablets, 768px and up) */
@media all and (min-height: 768px) {
    div.row > div {
        height: 150px;
        line-height: 150px;
    }
}

/* Medium devices (desktops, 992px and up) */
@media (min-height: 992px) {

}

/* Large devices (large desktops, 1200px and up) */
@media (min-height: 1200px) {

}