doctype html
html(data-ng-app='AngularApp', ng-csp='')
    head
        meta(charset='utf-8')
        meta(name="viewport", content="width=device-width, initial-scale=1")
        title Remo Chrome App
        link(rel='stylesheet', media='all', href='../css/bootstrap-3.1.1.min.css')
        link(rel='stylesheet', media='all', href='../css/main.css')
        base(target='_blank')

    body(data-ng-controller='AppController')
        section#main

            h2 {{apptitle}}

            //- dismiss all option
            div(ng-if="alerts.length>1")
                p.dismiss-all(ng-click="dismissAllAlerts()") dismiss all
            //- alerts go here
            alert(ng-repeat='alert in alerts', type='alert.type', close='closeAlert($index)')
                i.glyphicon.glyphicon-bell
                | {{alert.msg}}

            //- tab based page layout
            tabset

                //- all tabs loaded from configuration file
                tab(ng-repeat="tab in tabs")
                    tab-heading
                        i.glyphicon(class="{{tab.icon}}")
                        | {{tab.title}}

                    p {{tab.description}}

                    //- TODO depending on type show either the controls (http triggers)
                    //- or the status monitoring graphs...

                    //- this is for the controls
                    .container-fluid
                        .row(ng-repeat="row in tab.rows")
                            div(ng-repeat="pin in row.pins", style="{{pin.style}}", class="{{pin.class}}", ng-click="togglePin(pin.number)")
                                i.glyphicon(class="{{pin.icon}}")
                                | {{pin.label}}

                //- some fixed tabs...
                tab
                    tab-heading
                        i.glyphicon.glyphicon-cog
                        | Settings

                    h2 General Settings

                    p Manage your app here.

                    p Init from
                        //-button.btn.btn-default(ng-click="initConfig()")
                        button.btn.btn-default(ng-click="pickFile()") configuration
                            i.glyphicon.glyphicon-file
                        | or
                        button.btn.btn-default(ng-click="togglePaste()") copy paste data
                            i.glyphicon.glyphicon-transfer

                        form(ng-if="paste")
                            textarea.form-control(rows="10", ng-model="text")
                            p
                                button.pull-right.btn.btn-success(ng-click="initConfig(text)") proceed

                    div(ng-if="text")
                        h3 Loaded File Content
                        p Verify this data and
                            button.btn.btn-success(ng-click="initConfig()") proceed with initialisation
                            | or
                            button.btn.btn-danger(ng-click="resetUpload()") cancel
                        pre {{text}}

                    h2 About

                    p Open source home automation project backed by raspberry pi hardware.

                    p
                        a(href="https://bitbucket.org/cappelleh/remo") Project website

                    p
                        b
                            a(href="http://www.apache.org/licenses/LICENSE-2.0.html", target="_blank") Apache 2.0 license

                    h2 Upcoming features

                    ul
                        li
                            s Store configuration at local storage and keep in storage so app can init with that information
                        li
                            s dismiss all alerts option
                        li
                            s visual improvements (full control to user now with css)
                        li
                            s better documentation
                        li packaged app builds

                        li Manage
                            button.btn.btn-default
                                | scheduled events
                                i.glyphicon.glyphicon-calendar

        //- scripts loaded
        script(src='../js/lib/angular-1.2.14.min.js')
        script(src='../js/lib/ui-bootstrap-tpls-0.10.0.min.js')
        script(src='../js/scripts/app.js')
